* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
    color: rgb(233, 223, 223);
    letter-spacing: 0.1rem;
}

body {
    background-color: rgb(0, 0, 12);
}

a {
    text-decoration: none;
    color: inherit
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 2.2rem;
    letter-spacing: 1.5rem;
    text-align: center;
    margin: 3rem 0 0.5rem;
    opacity: 0.8;
}

.hr-heading {
    width: 50%;
    margin: 0 auto;
    border-color: rgb(233, 223, 223);
    opacity: 0.5;
}

/* ------------- HEADER SECTION ------------- */

header {
    background-color: rgb(1, 3, 15);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    padding: 0.5rem 0;
    letter-spacing: 0.3rem;
    position: sticky;
    top: 0;
}

.logo {
    width: 125px;
}

nav li {
    display: inline;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
}

/* ------------- ABOUT SECTION ------------- */

#about {
    min-height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    width: 70%;
}

.intro span {
    color: greenyellow;
}

.intro h1 {
    font-size: 6rem;
}

.intro h2 {
    font-size: 3.5rem;
    font-weight: 500;
}

.intro-text {
    margin: 2rem 3rem;
}

/* ------------- PROJECTS SECTION ------------ */

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.project-name {
    text-align: center;
}

#projects p {
    text-align: justify;
}

.featured-project-row {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0;
}


.featured-col {
    height: 450px;
}

.featured-col h3 {
    font-size: 2rem;
    color: yellowgreen;
}

.featured-col.col-1, .featured-col.col-3 {
    width: 35%;
}

.featured-col.col-1 {
    background-image: url('/homework/my-portfolio/assets/img/fallout.jpg');
    background-position: center;
    background-size: cover;
    margin-right: 1rem;
}

.featured-col.col-2 {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.featured-col.col-3 {
    text-align: center;
    padding: 2em;
}

.featured-desc {
    margin: 2rem 0;
}

.featured-img-box {
    height: 50%;
}

.featured-img-box.box1 {
    background-image: url('/homework/my-portfolio/assets/img/fallout1.jpg');
    background-position: center;
    background-size: cover;
}

.featured-img-box.box2 {
    background-image: url('/homework/my-portfolio/assets/img/fallout2.jpg');
    background-position: center;
    background-size: cover;
}

/* other projects sub-section */

.other-projects-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}


.project-card {
    /* width: 25%; */
    height: 450px;
    display: flex;
    flex: 1 0 25%;
    flex-direction: column;
    justify-content: space-between;
}

.project-card:hover {
    transform: scale(1.1);
}

.proj1 {
    background-image: linear-gradient(40deg, rgba(28, 255, 28, 0.883), rgba(0,255,0,0) 30%), url('/homework/my-portfolio/assets/img/passwordgenerator.jpg');
    background-position: center;
    background-size: cover;
}

.other-project-heading {
    width: 100%;
    margin: 1rem auto;
    color: white;
    text-align: center;
}

.tech-categories {
    background-color: rgba(39, 160, 39, 0.5);
}

.other-project-links {
    width: 100%;
    background-color: rgba(21, 24, 21, 0.5);
    padding: 1em 2em;
    text-align: center;
}

.other-project-heading h3 {
    font-size: 2rem;
}

span.category {
    margin-inline: 0.6rem;
    letter-spacing: 0.2rem;
}

.other-project-desc {
    text-align: center;
}

.project-btn {
    width: 10rem;
    border: solid rgb(233, 223, 223) 1px;
    border-radius: 3px;
    background-color: transparent;
    padding: 0.5em;
    margin: 0.5rem;
    font-size: 1rem;
}

.project-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 250, 54, 0.3);
}

.proj2 {
    background-image: linear-gradient(350deg, rgba(255, 251, 28, 0.883), rgba(0,255,0,0) 20%), url('/homework/my-portfolio/assets/img/weather.jpg');
    background-position: center;
    background-size: cover;
}

.proj3 {
    background-image: linear-gradient(350deg, rgba(1, 22, 22, 0.883), rgba(7, 26, 7, 0.5) 80%), url('/homework/my-portfolio/assets/img/techblog.jpg');
    background-position: center;
    background-size: cover;
}

.proj4 {
    background-image: linear-gradient(350deg, rgba(255, 28, 58, 0.883), rgba(0,255,0,0) 40%), url('/homework/my-portfolio/assets/img/chat.jpeg');
    background-position: center;
    background-size: cover;
}

/* ------------- CONTACT SECTION ------------ */

.contact-info {
    margin: 3rem auto;
    text-align: center;
}

.email {
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
}

.socials {
    margin: 2rem 0;
    font-size: 1.3rem;
}

.social-links {
    padding-inline: 3rem;
    letter-spacing: 0.3em;
}

.fa-brands {
    padding-inline: 1em;
}