* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
    color: rgb(233, 223, 223);
    letter-spacing: 0.1rem;
}

:root {
    --primary-color: rgb(0, 0, 12); /* background color */
    --categories-color: rgba(39, 160, 39, 0.5);
    --primary-text-color: rgb(233, 223, 223);
    --green-highlight: rgb(173, 255, 47);
    --secondary-dark-color: rgba(255, 255, 255, 0.1); /* nav bar and contact links */
}

body {
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
    text-align: center;
    color: inherit
}

p, button {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--primary-text-color);
}

button {
    background-color: transparent;
    border: solid 1px var(--primary-text-color);
    border-radius: 3px;
    padding: 0.1em 1em;
    text-align: center;
}

button:hover {
    background-color: var(--categories-color);
    cursor: pointer;
}


.section-heading {
    font-size: 2.2rem;
    letter-spacing: 1.5rem;
    text-align: center;
    margin: 3rem 0 0.5rem;
    opacity: 0.8;
}

.hr-heading {
    width: 50%;
    margin: 0 auto;
    border-color: var(--primary-text-color);
    opacity: 0.5;
}

@media (max-width: 580px) {
    .section-heading {
        font-size: 1.8rem;
    }

    .hr-heading {
        width: 80%;
    }
}

/* ------------- HEADER SECTION ------------- */

header {
    background-color: rgb(1, 3, 15);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    padding: 0.5rem 0;
    letter-spacing: 0.3rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    width: 125px;
}

nav li {
    display: inline;
    padding: 0.5em 1.5em;
    font-size: 1.2rem;
    text-align: center;
}

button.toggle {
    padding: 0.2em 0.6em;
    display: none;
    font-size: 1.1rem;
}

.pdf {
    color: var(--primary-text-color);
    opacity: 0.8;
}

@media (max-width: 995px) { 
    header {
        flex-direction: column;
        justify-content: space-between;
    }

    header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 1em;
    margin-bottom: 0.5rem;
    } 

    button.toggle {
        display: block;
    } 

    nav {
        width: 100%;
        background-color: rgb(1, 3, 15);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 100%;
        opacity: 0;
        height: 0;
        padding: 0 0 2em;
        overflow: hidden;
        transition: 0.5s;
    }

    nav.active {
        opacity: 100;
        height: 25vh;
    }

    nav li {
        display: block;
    }

    button.resume {
        margin: 0.5em auto 0;
    }

}  

@media (max-width: 580px) {
    .logo {
        width: 85px;
    }

    nav li {
        font-size: 1rem;
        padding: 0.5em 1em;
    }

    nav.active {
        height: 30vh;
    }
}

/* ------------- ABOUT SECTION ------------- */

#about {
    min-height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.intro {
    width: 70%;
    position: relative;
}

.intro-img {
    max-width: 15rem;
    position: absolute;
    opacity: 0.2;
    left: 0%;
    top: -40%;
}

.intro span {
    color: var(--green-highlight);
}

.intro h1 {
    font-size: 6rem;
    color: rgb(87, 177, 219);
}

span.bracket {
    color: gray;
}

.intro h2 {
    font-size: 3.5rem;
    font-weight: 500;
}

.intro-text {
    margin: 2rem 3rem;
    text-align: justify;
    font-size: 1.4rem;
}

/* special breakpoint for older mobile phones (smaller screens) */
@media (max-width: 411px) {

    .intro-img {
        max-width: 6rem;
        top: -15%;
    }
    
    .intro h2 {
        font-size: 2rem;
    }

    .intro h1 {
        font-size: 3.5rem;
    }

    .intro-text {
        margin: 1rem;
    }

}

@media (min-width: 412px) and (max-width: 580px) {
    .intro {
        width: 80%;
    }

    .intro-img {
        max-width: 10rem;
        top: -25%;
    }

    .intro h2 {
        font-size: 2.5rem;
    }

    .intro h1 {
        font-size: 4.5rem;
    }

    .intro-text {
        margin: 1.5rem;
    }
}

@media (min-width: 581px) and (max-width: 995px) {
    .intro h1 {
        font-size: 5rem;
    }
}

/* ------------- PROJECTS SECTION ------------ */

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.project-name {
    text-align: center;
}

#projects p {
    text-align: justify;
}

.tech-categories {
    background-color: var(--categories-color);
}

span.category {
    margin-inline: 0.6rem;
    letter-spacing: 0.2rem;
}

/* featured project sub-section */

.featured-project-row {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0;
    position: relative;
}

.featured-col {
    height: 450px;
}

.featured-col h3 {
    font-size: 2rem;
    color: var(--green-highlight);
}

.featured-col.col-1, .featured-col.col-3 {
    flex-basis: 35%;
}

.featured-col.col-1 {
    background-image: url('../img/garysbadjokes.PNG');
    background-position: center;
    background-size: cover;
    margin-right: 1rem;
}

.featured-col.col-2 {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}

.featured-img-box.box1 {
    background-image: url('../img/garyjoke.PNG');
    background-position: center;
    background-size: cover;
}

.featured-img-box.box2 {
    background-image: url('../img/jokesapiPNG.PNG');
    background-size: cover;
}

.featured-col.col-3 {
    text-align: center;
    padding: 2em;
}

.featured-desc {
    margin: 2rem 0;
}

.featured-img-box {
    height: 50%;
}

/* link buttons */
.btn-container {
    margin: 1rem 0 0.5rem;
}

.btn-container button {
    padding-inline: 2rem;
}

button.live {
    margin-right: 1rem;
}


/* other projects sub-section */

.other-projects-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 4rem;
}


.project-card {
    height: 450px;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    position: relative
}

.project-card:hover {
    transform: scale(1.05);
}

.other-project-heading {
    width: 100%;
    margin: 1rem auto;
    color: white;
    text-align: center;
}

.other-project-desc {
    width: 100%;
    background-color: rgba(21, 24, 21, 0.7);
    padding: 1em 2em;
    text-align: center;
}

.other-project-heading h3 {
    font-size: 2rem;
}

.other-project-desc p {
    text-align: center;
}

.other-project-img {
    margin-top: 1rem;
    height: 180px;
}

/* Other project background images */

.proj1 {
    background-image: linear-gradient(40deg, rgba(255, 232, 28, 0.883), rgba(255, 0, 179, 0.2) 50%);
    background-position: center;
    background-size: cover;
}

.proj2 {
    background-image: linear-gradient(350deg, rgba(13, 138, 106, 0.883), rgba(94, 161, 216, 0.4) 50%);
    background-position: center;
    background-size: cover;
}

.proj3 {
    background-image: linear-gradient(350deg, rgba(1, 22, 22, 0.883), rgba(7, 26, 7, 0.5) 80%), url('../img/techblog.jpg');
    background-position: center;
    background-size: cover;
}

.proj4 {
    background-image: linear-gradient(350deg, rgba(255, 28, 58, 0.883), rgba(0,255,0,0) 40%), url('../img/chat.jpeg');
    background-position: center;
    background-size: cover;
}

@media (max-width: 995px) {
    .featured-project-row {
        width: 90%;
        flex-wrap: wrap;
    }

    .featured-col.col-1 {
        flex-basis: 100%;
        margin-bottom: 2rem;
        margin-right: 0;
    }

    .featured-col.col-2 {
        flex-basis: 40%;
        height: 300px;
    }

    .featured-col.col-3 {
        flex-basis: 60%;
    }

    .project-card {
        flex-basis: 50%;
    }

    /* .other-project-img {
        margin-top: 1rem;
        width: 100px;
    } */
}

@media (max-width: 580px) {
    .featured-col.col-1 {
        margin-right: 0;
    }

    .featured-col.col-2 {
        flex-basis: 100%;
        flex-direction: row;
    }

    .featured-img-box {
        width: 50%;
    }

    .project-card {
        flex-basis: 100%;
    }

    .featured-col.col-3 {
        flex-basis: 100%;
    }

}

/* ------------- CONTACT SECTION ------------ */

#contact {
    padding-bottom: 5rem;
    width: 70%;
    margin-inline: auto;
}

.avatar {
    background-image: url('../img/avatar.png');
    background-size: cover;
    background-color: rgb(180, 183, 206);
    background-blend-mode: multiply;
    opacity: 0.8;
    border-radius: 100%;
    border: solid var(--primary-text-color) 1px;
    width: 15rem;
    height: 15rem;
    margin-right: 3rem;
}

.contact-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-info {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.email {
    width: 100%;
    text-align: center;
    letter-spacing: 0.5rem;
    background-color: var(--secondary-dark-color);
    font-size: inherit;
    padding-inline: 1rem;
}

.socials {
    margin: 2rem 0;
    font-size: 1.2rem;
    background-color: var(--secondary-dark-color);
    width: 100%;
    font-size: inherit;
}

.social-links {
    padding-inline: 1rem;
    letter-spacing: 0.1em;
    display: block;
    margin: 1rem 0;
}

.fa-brands {
    padding-right: 1em;
}

@media (max-width: 995px) {
    #contact {
        width: 70%;
    }

    .contact-container {
        flex-direction: column;
    }

    .avatar {
        margin-inline: auto;
    }
}

@media (max-width: 580px) {
    #contact {
        width: 90%;
    }

    .contact-info {
        font-size: 1rem;
    }

    .socials {
        font-size: 1.3rem;
    }
}
